@import url(./menu.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

a {
  color: #9c88ff;
  text-decoration: none;
}

.mainWrapper {
  width: 100%;
  height: 100%;
  background-image: url(../assets/background.jpg);
  background-position: bottom;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 15%;
}

@media screen and (orientation: portrait) {
  .mainWrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
    text-align: center;
  }
}

.mainWrapper .topBar {
  width: 100%;
  height: 5vmax;
  position: absolute;
  top: 0;
  left: 0;
}

.mainWrapper h1 {
  font-size: 5vmax;
  color: white;
  font-weight: 600;
  line-height: 6vmax;
}

@media screen and (orientation: portrait) {
  .mainWrapper h1 {
    font-size: 6.5vmax;
    line-height: 7vmax;
  }
}

@media screen and (max-width: 500px) {
  .mainWrapper h1 {
    padding: 0 5% 0 5%;
  }
}

.mainWrapper h2 {
  width: 38%;
  color: white;
  font-size: 1.3vmax;
  font-weight: 400;
  margin-top: -4%;
  line-height: 1.7vmax;
}

@media screen and (orientation: portrait) {
  .mainWrapper h2 {
    width: 60%;
    margin-top: -6%;
    font-size: 2vmax;
    line-height: 2.4vmax;
  }
}

@media screen and (max-width: 500px) {
  .mainWrapper h2 {
    width: 90%;
  }
}

.mainWrapper .mainWrapperButton {
  width: 15vmax;
  height: 3vmax;
  border-radius: 30px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: 150ms ease-in;
  transition: 150ms ease-in;
  cursor: pointer;
}

@media screen and (orientation: portrait) {
  .mainWrapper .mainWrapperButton {
    width: 40%;
    height: 5vmax;
  }
}

@media screen and (max-width: 500px) {
  .mainWrapper .mainWrapperButton {
    width: 60%;
  }
}

.mainWrapper .mainWrapperButton h3 {
  font-weight: 500;
  font-size: 1.3vmax;
}

@media screen and (orientation: portrait) {
  .mainWrapper .mainWrapperButton h3 {
    font-size: 2vmax;
  }
}

.mainWrapper .mainWrapperButton .buttonIcon {
  width: 1.8vmax;
  height: 1.8vmax;
  background-image: url(../assets/icons/arrow3.png);
  background-position: center;
  background-size: cover;
  -webkit-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

@media screen and (orientation: portrait) {
  .mainWrapper .mainWrapperButton .buttonIcon {
    width: 2.1vmax;
    height: 2.1vmax;
  }
}

.mainWrapper .mainWrapperButton:hover {
  color: white;
  background-color: #9c88ff;
}

.mainWrapper .mainWrapperButton:hover .buttonIcon {
  background-image: url(../assets/icons/arrow4.png);
  margin-left: 10%;
}

.mainWrapper .goUp {
  position: fixed;
  top: 85%;
  right: 3vmax;
  width: 3vmax;
  height: 3vmax;
  border-radius: 50%;
  background-color: #9c88ff;
  -webkit-box-shadow: 4px 4px 12px 0px black;
  box-shadow: 4px 4px 12px 0px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

@media screen and (orientation: portrait) {
  .mainWrapper .goUp {
    right: 3vmax;
    width: 5vmax;
    height: 5vmax;
  }
}

.mainWrapper .goUp img {
  width: 40%;
  height: 40%;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.mainWrapper .goUp:hover {
  width: 5.5vmax;
  height: 5.5vmax;
}

.counterWrapper {
  width: 100%;
  background: linear-gradient(-2deg, #9c88ff 22%, rgba(0, 0, 0, 0) 22.3%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 4% 5% 8% 5%;
}

@media screen and (orientation: portrait) {
  .counterWrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-gap: 5vmax;
    padding: 4% 5% 15% 5%;
  }
}

@media screen and (max-width: 500px) {
  .counterWrapper {
    padding: 2% 5% 20% 5%;
  }
}

.counterWrapper .counterBox {
  text-align: center;
}

.counterWrapper .counterBox .counter {
  font-size: 1.8vmax;
  padding-bottom: 1vmax;
  color: #9c88ff;
  font-weight: 500;
}

@media screen and (orientation: portrait) {
  .counterWrapper .counterBox .counter {
    font-size: 3vmax;
  }
}

.counterWrapper .counterBox h3 {
  font-weight: 400;
  font-size: 1.4vmax;
}

@media screen and (orientation: portrait) {
  .counterWrapper .counterBox h3 {
    font-size: 2vmax;
  }
}

.offerWrapper {
  background: linear-gradient(-1.5deg, #292929 3%, rgba(0, 0, 0, 0) 3.1%);
  padding: 5% 25%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 5vmax;
}

@media screen and (orientation: portrait) {
  .offerWrapper {
    padding: 10% 10%;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .offerWrapper {
    padding: 15% 5%;
  }
}

.offerWrapper .offerTitle {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  font-weight: 400;
  font-size: 1.7vmax;
}

@media screen and (orientation: portrait) {
  .offerWrapper .offerTitle {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    font-size: 2.5vmax;
  }
}

@media screen and (max-width: 500px) {
  .offerWrapper .offerTitle {
    font-size: 2.3vmax;
  }
}

.offerWrapper .offerTitle a {
  font-weight: bold;
}

.offerWrapper .offerBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offerWrapper .offerBox .offerBoxIcon {
  width: 5vmax;
  height: 5vmax;
}

@media screen and (orientation: portrait) {
  .offerWrapper .offerBox .offerBoxIcon {
    width: 7vmax;
    height: 7vmax;
  }
}

.offerWrapper .offerBox .offerBoxIcon img {
  width: 100%;
  height: 100%;
}

.offerWrapper .offerBox .offerBoxTitle h3 {
  font-weight: 400;
  font-size: 1.1vmax;
  padding: 3vmax 5% 2vmax 5%;
  text-align: center;
}

@media screen and (orientation: portrait) {
  .offerWrapper .offerBox .offerBoxTitle h3 {
    font-size: 1.6vmax;
  }
}

.offerWrapper .offerBox .offerBoxBar {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background-color: #9c88ff;
}

@media screen and (max-width: 500px) {
  .offerWrapper .offerBox .offerBoxBar {
    height: 3px;
  }
}

.offerWrapper .offerMore {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1vmax 15% 1vmax 15%;
}

@media screen and (orientation: portrait) {
  .offerWrapper .offerMore {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
  }
}

.offerWrapper .offerMore h2 {
  font-weight: 400;
  font-size: 2vmax;
  text-align: center;
}

@media screen and (orientation: portrait) {
  .offerWrapper .offerMore h2 {
    font-size: 3vmax;
  }
}

@media screen and (max-width: 500px) {
  .offerWrapper .offerMore h2 {
    font-size: 2.5vmax;
  }
}

.offerWrapper .offerButton {
  background-color: #9c88ff;
  width: 12vmax;
  height: 3vmax;
  margin-top: 3vmax;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1vmax;
  color: white;
  cursor: pointer;
  font-weight: 500;
  -webkit-transition: 350ms ease-out;
  transition: 350ms ease-out;
}

@media screen and (orientation: portrait) {
  .offerWrapper .offerButton {
    width: 60%;
    height: 5vmax;
    font-size: 1.6vmax;
  }
}

.offerWrapper .offerButton:hover {
  border: 5px solid #9c88ff;
  background-color: white;
  color: #9c88ff;
}

.reviewWrapper {
  width: 100%;
  background: linear-gradient(-2deg, #9c88ff 13%, rgba(0, 0, 0, 0) 13.2%);
  background-color: #292929;
  padding: 3% 0 7% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (orientation: portrait) {
  .reviewWrapper {
    padding: 3% 0 10% 0;
  }
}

@media screen and (max-width: 500px) {
  .reviewWrapper {
    padding: 5% 0 20% 0;
  }
}

.reviewWrapper h1 {
  font-weight: 600;
  font-size: 2.2vmax;
  color: white;
  margin-bottom: 7%;
}

@media screen and (orientation: portrait) {
  .reviewWrapper h1 {
    font-size: 3vmax;
  }
}

.reviewWrapper .reviewContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.reviewWrapper .reviewContainer .arrow {
  width: 3vmax;
  height: 3vmax;
  cursor: pointer;
}

@media screen and (orientation: portrait) {
  .reviewWrapper .reviewContainer .arrow {
    width: 4vmax;
    height: 4vmax;
  }
}

.reviewWrapper .reviewContainer .arrow img {
  width: 100%;
  height: 100%;
}

.reviewWrapper .reviewContainer .a1 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 0;
}

.reviewWrapper .reviewContainer .reviewSection {
  width: 60%;
  overflow-x: hidden;
}

@media screen and (max-width: 500px) {
  .reviewWrapper .reviewContainer .reviewSection {
    width: 70%;
  }
}

.reviewWrapper .reviewContainer .reviewSection .reviewContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.reviewWrapper .reviewContainer .reviewSection .reviewContent .rm {
  display: block;
}

@media screen and (orientation: portrait) {
  .reviewWrapper .reviewContainer .reviewSection .reviewContent .rm {
    display: none;
  }
}

.reviewWrapper .reviewContainer .reviewSection .reviewContent .reviewBox {
  min-width: 50%;
  padding: 2% 5% 5% 5%;
  text-align: center;
}

@media screen and (orientation: portrait) {
  .reviewWrapper .reviewContainer .reviewSection .reviewContent .reviewBox {
    min-width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .reviewWrapper .reviewContainer .reviewSection .reviewContent .reviewBox {
    padding: 2% 5% 10% 5%;
  }
}

.reviewWrapper .reviewContainer .reviewSection .reviewContent .reviewBox p {
  font-size: 1vmax;
  color: white;
  font-weight: 400;
  margin-bottom: 2vmax;
}

@media screen and (orientation: portrait) {
  .reviewWrapper .reviewContainer .reviewSection .reviewContent .reviewBox p {
    font-size: 1.5vmax;
  }
}

.reviewWrapper .reviewContainer .reviewSection .reviewContent .reviewBox h2 {
  font-size: 1.6vmax;
  color: #9c88ff;
  font-weight: 400;
}

@media screen and (orientation: portrait) {
  .reviewWrapper .reviewContainer .reviewSection .reviewContent .reviewBox h2 {
    font-size: 2.5vmax;
  }
}

.reviewWrapper .reviewPos1 {
  -webkit-transform: none;
          transform: none;
  -webkit-transition: 0.7s linear;
  transition: 0.7s linear;
}

.reviewWrapper .reviewPos2 {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.7s linear;
  transition: 0.7s linear;
}

.reviewWrapper .reviewPos3 {
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  -webkit-transition: 0.7s linear;
  transition: 0.7s linear;
}

.reviewWrapper .reviewDots {
  width: 4%;
  height: 3vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (orientation: portrait) {
  .reviewWrapper .reviewDots {
    font-size: 2.5vmax;
    width: 10%;
  }
}

.reviewWrapper .reviewDots .dot1,
.reviewWrapper .reviewDots .dot2,
.reviewWrapper .reviewDots .dot3 {
  width: 0.8vmax;
  height: 0.8vmax;
  border-radius: 50%;
  background-color: white;
}

@media screen and (orientation: portrait) {
  .reviewWrapper .reviewDots .dot1,
  .reviewWrapper .reviewDots .dot2,
  .reviewWrapper .reviewDots .dot3 {
    width: 1.2vmax;
    height: 1.2vmax;
  }
}

.reviewWrapper .reviewDots .active {
  background-color: #9c88ff;
}

.contactWrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  padding: 5% 10%;
}

@media screen and (orientation: portrait) {
  .contactWrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .contactWrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 2vmax;
    padding: 10% 2%;
  }
}

.contactWrapper h2 {
  font-size: 1.5vmax;
  font-weight: 400;
}

@media screen and (orientation: portrait) {
  .contactWrapper h2 {
    font-size: 2.2vmax;
  }
}

@media screen and (max-width: 500px) {
  .contactWrapper h2 {
    font-size: 2.6vmax;
  }
}

.contactWrapper p {
  font-size: 1vmax;
}

@media screen and (orientation: portrait) {
  .contactWrapper p {
    font-size: 1.6vmax;
  }
}

@media screen and (max-width: 500px) {
  .contactWrapper p {
    font-size: 2vmax;
  }
}

.contactWrapper .contactTitle {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  font-size: 2.8vmax;
  font-weight: 500;
}

@media screen and (orientation: portrait) {
  .contactWrapper .contactTitle {
    font-size: 3.5vmax;
  }
}

@media screen and (max-width: 500px) {
  .contactWrapper .contactTitle {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
  }
}

.contactWrapper .contactTitle a {
  font-weight: 600;
}

.contactWrapper .contactAddres1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  padding: 1vmax;
}

.contactWrapper .contactAddres2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  padding: 1vmax;
}

@media screen and (max-width: 500px) {
  .contactWrapper .contactAddres2 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
  }
}

.contactWrapper .contactPhone {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  padding: 2vmax 1vmax;
}

@media screen and (max-width: 500px) {
  .contactWrapper .contactPhone {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 5;
  }
}

.contactWrapper .contactEmail {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  padding: 2vmax 1vmax;
}

@media screen and (max-width: 500px) {
  .contactWrapper .contactEmail {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 6;
  }
}

.contactWrapper .contactSocials {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (orientation: portrait) {
  .contactWrapper .contactSocials {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 6;
        grid-row-start: 6;
    grid-row-end: 7;
  }
}

.contactWrapper .contactSocials .socialsContainer {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (orientation: portrait) {
  .contactWrapper .contactSocials .socialsContainer {
    width: 40%;
  }
}

.contactWrapper .contactSocials .socialsContainer .social {
  width: 2.5vmax;
  height: 2.5vmax;
  background-position: center;
  background-size: cover;
}

@media screen and (orientation: portrait) {
  .contactWrapper .contactSocials .socialsContainer .social {
    width: 3.5vmax;
    height: 3.5vmax;
  }
}

.contactWrapper .contactSocials .socialsContainer .Facebook {
  background-image: url(../assets/icons/facebook.png);
}

.contactWrapper .contactSocials .socialsContainer .Instagram {
  background-image: url(../assets/icons/instagram.png);
}

.contactWrapper .contactSocials .socialsContainer .Youtube {
  background-image: url(../assets/icons/youtube.png);
}

.footer {
  width: 100%;
  height: 3vmax;
  background-color: #9c88ff;
}
/*# sourceMappingURL=style.css.map */