$maincolor: #9c88ff;
@import url(./menu.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

a{
    color: $maincolor;
    text-decoration: none;
}

.mainWrapper{
    width: 100%;
    height: 100%;
    background-image: url(../assets/background.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 15%;
    .topBar{
        width: 100%;
        height: 5vmax;
        position: absolute;
        top: 0;
        left: 0;
    }
    h1{
        font-size: 5vmax;
        color: white;
        font-weight: 600;
        line-height: 6vmax;
    }
    h2{
        width: 38%;
        color: white;
        font-size: 1.3vmax;
        font-weight: 400;
        margin-top: -4%;
        line-height: 1.7vmax;
    }
    .mainWrapperButton{
        width: 15vmax;
        height: 3vmax;
        border-radius: 10px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        transition: 150ms ease-in;
        cursor: pointer;
        h3 {
            font-weight: 500;
            font-size: 1.3vmax;
        }
        img{
            width: 1.8vmax;
        }
    }
    .mainWrapperButton:hover{
        color: white;
        background-color: #9c88ff;
    }
    .goUp{       
        position: fixed;
        top: 85%;
        right: 3vmax;
        width: 3vmax;
        height: 3vmax;
        border-radius: 50%;
        background-color: #9c88ff;
        -webkit-box-shadow: 4px 4px 12px 0px rgb(0, 0, 0);
        -moz-box-shadow: 4px 4px 12px 0px rgb(0, 0, 0);
        box-shadow: 4px 4px 12px 0px rgb(0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        img{
            width: 40%;
            height: 40%;
            transform: rotate(270deg);
        }
    }
}
.counterWrapper{
    width: 100%;
    background: linear-gradient(-2deg, $maincolor 22%, rgba(0, 0, 0, 0) 22.3%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4% 5% 8% 5%;
    .counterBox{
        text-align: center;
        .counter{
            font-size: 1.8vmax; 
            padding-bottom: 1vmax;   
            color: #9c88ff; 
            font-weight: 500;       
        }
        h3{
            font-weight: 400;
            font-size: 1.4vmax;
        }
    } 
}
.offerWrapper{
    background: linear-gradient(-1.5deg, #292929 3%, rgba(0, 0, 0, 0) 3.1%);
    padding: 5% 25% 5% 25%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5,1fr);
    grid-gap: 5vmax;
    .offerTitle{
        grid-column-start: 1;
        grid-column-end: 4;
        text-align: center;
        font-weight: 400;
        font-size: 1.7vmax;
        a{
            font-weight: bold;
        }
    }
    .offerBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .offerBoxIcon{
            width: 5vmax;
            height: 5vmax;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .offerBoxTitle h3{
            font-weight: 400;
            font-size: 1.1vmax;
            padding: 3vmax 5% 2vmax 5%;
            text-align: center;
        }
        .offerBoxBar{
            width: 100%;
            height: 5px;
            border-radius: 10px;
            background-color: $maincolor;
        }
    }
    .offerMore{
        grid-column-start: 1;
        grid-column-end: 4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 1vmax 15% 1vmax 15%;
        h2{
            font-weight: 400;
            font-size: 2vmax;
            text-align: center;
        }
    }
    .offerButton{
        background-color: $maincolor;
        width: 12vmax;
        height: 3vmax;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1vmax;
        color: white;
        font-weight: 500;
    }
}
.reviewWrapper{
    width: 100%;
    background: linear-gradient(-2deg, $maincolor 13%, rgba(0, 0, 0, 0) 13.2%);
    background-color: #292929;
    padding: 3% 0 7% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    h1{
        font-weight: 600;
        font-size: 2.2vmax;
        color: white;
        margin-bottom: 7%;
    }
    .reviewContainer{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        .arrow{
            width: 3vmax;
            height: 3vmax;
            cursor: pointer;
            img{
                width: 100%;
                height: 100%;
                
            }
        }
        .a1{
            transform: rotate(180deg);
            opacity: 0;
        }
        .reviewSection{
            width: 60%;
            overflow-x: hidden;
            .reviewContent{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .reviewBox{
                    min-width: 50%;
                    padding: 2% 5% 5% 5%;
                    text-align: center;
                    p{
                        font-size: 1vmax;
                        color: white;
                        font-weight: 400;
                        margin-bottom: 2vmax;
                    }
                    h2{
                        font-size: 1.6vmax;
                        color: $maincolor;
                        font-weight: 400;
                    }
                }
            }
        }
    }
    .reviewPos1{
        transform: none;
        transition: 0.7s linear;
    }
    .reviewPos2{
        transform: translateX(-100%);
        transition: 0.7s linear;
    }
    .reviewPos3{
        transform: translateX(-200%);
        transition: 0.7s linear;
    }
    .reviewDots{
        width: 4%;
        height: 2vmax;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .dot1,
        .dot2,
        .dot3{
            width: 0.8vmax;
            height: 0.8vmax;
            border-radius: 50%;
            background-color: white;   
        }
        .active{
            background-color: #9c88ff;
        }
    }
}

.contactWrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 5% 10% 5% 10%;
    h2{
        font-size: 1.5vmax;
        font-weight: 400;
    }
    p {
        font-size: 1vmax;
    }
    .contactTitle{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        font-size: 2.8vmax;
        font-weight: 500;
        a{
            font-weight: 600;
        }
    }
    .contactAddres1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 1vmax;
        
    }
    .contactAddres2{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 1vmax;
    }
    .contactPhone{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        padding: 2vmax 1vmax;
    }
    .contactEmail{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start:3;
        grid-row-end: 4;
        padding: 2vmax 1vmax;
    }
    .contactSocials{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
        display: flex;
        flex-direction: column;
            justify-content: space-around;
            align-items: center;
        .socialsContainer{
            width: 60%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .social{
                width: 2.5vmax;
                height: 2.5vmax;
                background-color: whitesmoke;
                background-position: center;
                background-size: cover;
            }
            .Facebook{
                background-image: url(../assets/icons/facebook.png);
            }
            .Instagram{
                background-image: url(../assets/icons/instagram.png);
            }
            .Youtube{
                background-image: url(../assets/icons/youtube.png);
            }
        }
    }
}
.footer{
    width: 100%;
    height: 3vmax;
    background-color: $maincolor;
}