$maincolor: #9c88ff;
@import url(./menu.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

a{
    color: $maincolor;
    text-decoration: none;
}

.mainWrapper{
    width: 100%;
    height: 100%;
    background-image: url(../assets/background.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 15%;
    @media screen and (orientation: portrait){
            align-items: center;
            padding-left: 0;;
            text-align: center;  
    }
    .topBar{
        width: 100%;
        height: 5vmax;
        position: absolute;
        top: 0;
        left: 0;
    }
    h1{
        font-size: 5vmax;
        color: white;
        font-weight: 600;
        line-height: 6vmax;
        @media screen and (orientation: portrait){
            font-size: 6.5vmax; 
            line-height: 7vmax;
        }
        @media screen and (max-width: 500px){
            padding: 0 5% 0 5%; 
        }
    }
    h2{
        width: 38%;
        color: white;
        font-size: 1.3vmax;
        font-weight: 400;
        margin-top: -4%;
        line-height: 1.7vmax;
        @media screen and (orientation: portrait){
            width: 60%;
            margin-top: -6%;
            font-size: 2vmax; 
            line-height: 2.4vmax;
        }
        @media screen and (max-width: 500px){
            width: 90%; 
        }
    }
    .mainWrapperButton{
        width: 15vmax;
        height: 3vmax;
        border-radius: 30px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        transition: 150ms ease-in;
        cursor: pointer;
        @media screen and (orientation: portrait){
            width: 40%;
            height: 5vmax;
        }
        @media screen and (max-width: 500px){
            width: 60%; 
        }
        h3 {
            font-weight: 500;
            font-size: 1.3vmax;
            @media screen and (orientation: portrait){
                font-size: 2vmax;
            }
        }
        .buttonIcon{
            width: 1.8vmax;
            height: 1.8vmax;
            background-image: url(../assets/icons/arrow3.png);
            background-position: center;
            background-size: cover;
            transition: 150ms ease-in;
            @media screen and (orientation: portrait){
                width: 2.1vmax;
                height: 2.1vmax;
            }
        }
    }
    .mainWrapperButton:hover{
        color: white;
        background-color: #9c88ff;
    }
    .mainWrapperButton:hover .buttonIcon{
        background-image: url(../assets/icons/arrow4.png);
        margin-left: 10%;
        
    }
    .goUp{       
        position: fixed;
        top: 85%;
        right: 3vmax;
        width: 3vmax;
        height: 3vmax;
        border-radius: 50%;
        background-color: #9c88ff;
        -webkit-box-shadow: 4px 4px 12px 0px rgb(0, 0, 0);
        -moz-box-shadow: 4px 4px 12px 0px rgb(0, 0, 0);
        box-shadow: 4px 4px 12px 0px rgb(0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        @media screen and (orientation: portrait){
            right: 3vmax;
            width: 5vmax;
            height: 5vmax;
        }  
        img{
            width: 40%;
            height: 40%;
            transform: rotate(270deg);
        }
    }
    .goUp:hover{
        width: 5.5vmax;
        height: 5.5vmax;
    }
}
.counterWrapper{
    width: 100%;
    background: linear-gradient(-2deg, $maincolor 22%, rgba(0, 0, 0, 0) 22.3%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4% 5% 8% 5%;
    @media screen and (orientation: portrait){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 5vmax;
        padding: 4% 5% 15% 5%;
    }
    @media screen and (max-width: 500px){
        padding: 2% 5% 20% 5%;
    }
    .counterBox{
        text-align: center;
        .counter{
            font-size: 1.8vmax; 
            padding-bottom: 1vmax;   
            color: #9c88ff; 
            font-weight: 500; 
            @media screen and (orientation: portrait){
                font-size: 3vmax;
            }      
        }
        h3{
            font-weight: 400;
            font-size: 1.4vmax;
            @media screen and (orientation: portrait){
                font-size: 2vmax;
            }  
        }
    } 
}
.offerWrapper{
    background: linear-gradient(-1.5deg, #292929 3%, rgba(0, 0, 0, 0) 3.1%);
    padding: 5% 25%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5vmax;
    @media screen and (orientation: portrait){
        padding: 10% 10%;
        grid-template-columns: repeat(2, 1fr); 
    }  
    @media screen and (max-width: 500px){
        padding: 15% 5%;
    }
    .offerTitle{
        grid-column-start: 1;
        grid-column-end: 4;
        text-align: center;
        font-weight: 400;
        font-size: 1.7vmax;
        @media screen and (orientation: portrait){
            grid-column-start: 1;
            grid-column-end:3;
            font-size: 2.5vmax;
        }  
        @media screen and (max-width: 500px){
            font-size: 2.3vmax;
        }
        a{
            font-weight: bold;
        }
    }
    .offerBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .offerBoxIcon{
            width: 5vmax;
            height: 5vmax;
            @media screen and (orientation: portrait){
                width: 7vmax;
                height: 7vmax;
            }  
            img{
                width: 100%;
                height: 100%;
            }
        }
        .offerBoxTitle h3{
            font-weight: 400;
            font-size: 1.1vmax;
            padding: 3vmax 5% 2vmax 5%;
            text-align: center;
            @media screen and (orientation: portrait){
                font-size: 1.6vmax;
            }  
        }
        .offerBoxBar{
            width: 100%;
            height: 5px;
            border-radius: 10px;
            background-color: $maincolor;
            @media screen and (max-width: 500px){
                height: 3px;
            }
        }
    }
    .offerMore{
        grid-column-start: 1;
        grid-column-end: 4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 1vmax 15% 1vmax 15%;
        @media screen and (orientation: portrait){    
            grid-column-start: 1;
            grid-column-end:3;
        } 
        h2{
            font-weight: 400;
            font-size: 2vmax;
            text-align: center;
            @media screen and (orientation: portrait){
                font-size: 3vmax;
            } 
            @media screen and (max-width: 500px){
                font-size: 2.5vmax;
            }
        }
    }
    .offerButton{
        background-color: $maincolor;
        width: 12vmax;
        height: 3vmax;
        margin-top: 3vmax;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1vmax;
        color: white;
        cursor: pointer;
        font-weight: 500;
        transition: 350ms ease-out;
        @media screen and (orientation: portrait){
            width: 60%;
            height: 5vmax;
            font-size: 1.6vmax;
        } 
    }
    .offerButton:hover{
        border: 5px solid $maincolor;
        background-color: white;
        color: $maincolor;
    }
}
.reviewWrapper{
    width: 100%;
    background: linear-gradient(-2deg, $maincolor 13%, rgba(0, 0, 0, 0) 13.2%);
    background-color: #292929;
    padding: 3% 0 7% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @media screen and (orientation: portrait){
        padding: 3% 0 10% 0;
    } 
    @media screen and (max-width: 500px){
        padding: 5% 0 20% 0;
    }
    h1{
        font-weight: 600;
        font-size: 2.2vmax;
        color: white;
        margin-bottom: 7%;
        @media screen and (orientation: portrait){
            font-size: 3vmax;
        } 
    }
    .reviewContainer{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .arrow{
            width: 3vmax;
            height: 3vmax;
            cursor: pointer;
            @media screen and (orientation: portrait){
                width: 4vmax;
                height: 4vmax;
            } 
            img{
                width: 100%;
                height: 100%;   
            }
        }
        .a1{
            transform: rotate(180deg);
            opacity: 0;
        }
        .reviewSection{
            width: 60%;
            overflow-x: hidden;
            @media screen and (max-width: 500px){
                width: 70%;
            }
            .reviewContent{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .rm{
                    display: block;
                    @media screen and (orientation: portrait){
                        display: none;
                    } 
                }
                .reviewBox{
                    min-width: 50%;
                    padding: 2% 5% 5% 5%;
                    text-align: center;
                    @media screen and (orientation: portrait){
                        min-width: 100%;
                    } 
                    @media screen and (max-width: 500px){
                        padding: 2% 5% 10% 5%;
                    }
                    p{
                        font-size: 1vmax;
                        color: white;
                        font-weight: 400;
                        margin-bottom: 2vmax;
                        @media screen and (orientation: portrait){
                            font-size: 1.5vmax;
                        } 
                    }
                    h2{
                        font-size: 1.6vmax;
                        color: $maincolor;
                        font-weight: 400;
                        @media screen and (orientation: portrait){
                            font-size: 2.5vmax;
                        } 
                    }
                }
            }
        }
    }
    .reviewPos1{
        transform: none;
        transition: 0.7s linear;
    }
    .reviewPos2{
        transform: translateX(-100%);
        transition: 0.7s linear;
    }
    .reviewPos3{
        transform: translateX(-200%);
        transition: 0.7s linear;
    }
    .reviewDots{
        width: 4%;
        height: 3vmax;
        display: flex;
        align-items: center;
        justify-content: space-around;
        @media screen and (orientation: portrait){
            font-size: 2.5vmax;
            width: 10%;
        } 
        .dot1,
        .dot2,
        .dot3 {
            width: 0.8vmax;
            height: 0.8vmax;
            border-radius: 50%;
            background-color: white; 
            @media screen and (orientation: portrait){
                width: 1.2vmax;
            height: 1.2vmax;
            }   
        }
        .active{
            background-color: #9c88ff;
        }
    }
}

.contactWrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 5% 10%;
    @media screen and (orientation: portrait){
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        text-align: center;;
    } 
    @media screen and (max-width: 500px){
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-row-gap: 2vmax;
        padding: 10% 2%;
    }
    h2{
        font-size: 1.5vmax;
        font-weight: 400;
        @media screen and (orientation: portrait){
            font-size: 2.2vmax;
        } 
        @media screen and (max-width: 500px){
            font-size: 2.6vmax;
        }
    }
    p {
        font-size: 1vmax;
        @media screen and (orientation: portrait){
            font-size: 1.6vmax;
        } 
        @media screen and (max-width: 500px){
            font-size: 2vmax;
        }
    }
    .contactTitle{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        font-size: 2.8vmax;
        font-weight: 500;
        @media screen and (orientation: portrait){
            font-size: 3.5vmax;
        } 
        @media screen and (max-width: 500px){
            grid-column-start: 1;
            grid-column-end: 2;
        }
        a{
            font-weight: 600;
        }
    }
    .contactAddres1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 1vmax;
        
    }
    .contactAddres2{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 1vmax;
        @media screen and (max-width: 500px){
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
        }
    }
    .contactPhone{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        padding: 2vmax 1vmax;
        @media screen and (max-width: 500px){
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 4;
            grid-row-end: 5;
        }
    }
    .contactEmail{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start:3;
        grid-row-end: 4;
        padding: 2vmax 1vmax;
        @media screen and (max-width: 500px){
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 5;
            grid-row-end: 6;
        }
    }
    .contactSocials{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        @media screen and (orientation: portrait){
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 6;
            grid-row-end: 7;
        } 
        .socialsContainer{
            width: 60%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            @media screen and (orientation: portrait){
                width: 40%;
            } 
            .social{
                width: 2.5vmax;
                height: 2.5vmax;
                background-position: center;
                background-size: cover;
                @media screen and (orientation: portrait){
                    width: 3.5vmax;
                    height: 3.5vmax;
                } 
            }
            .Facebook{
                background-image: url(../assets/icons/facebook.png);
            }
            .Instagram{
                background-image: url(../assets/icons/instagram.png);
            }
            .Youtube{
                background-image: url(../assets/icons/youtube.png);
            }
        }
    }
}
.footer{
    width: 100%;
    height: 3vmax;
    background-color: $maincolor;
}
