@import url(./menu.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

a {
  color: #9c88ff;
  text-decoration: none;
}

.mainWrapper {
  width: 100%;
  height: 100%;
  background-image: url(../assets/background.jpg);
  background-position: bottom;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 15%;
}

.mainWrapper .topBar {
  width: 100%;
  height: 5vmax;
  position: absolute;
  top: 0;
  left: 0;
}

.mainWrapper h1 {
  font-size: 5vmax;
  color: white;
  font-weight: 600;
  line-height: 6vmax;
}

.mainWrapper h2 {
  width: 38%;
  color: white;
  font-size: 1.3vmax;
  font-weight: 400;
  margin-top: -4%;
  line-height: 1.7vmax;
}

.mainWrapper .mainWrapperButton {
  width: 20vmax;
  height: 3vmax;
  background-color: blanchedalmond;
}

.mainWrapper .goUp {
  position: fixed;
  top: 85%;
  right: 3vmax;
  width: 3vmax;
  height: 3vmax;
  border-radius: 50%;
  background-color: #9c88ff;
  -webkit-box-shadow: 4px 4px 12px 0px black;
  box-shadow: 4px 4px 12px 0px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.mainWrapper .goUp img {
  width: 40%;
  height: 40%;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.counterWrapper {
  width: 100%;
  background: linear-gradient(-2deg, #9c88ff 22%, rgba(0, 0, 0, 0) 22.3%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 4% 5% 8% 5%;
}

.counterWrapper .counterBox {
  text-align: center;
}

.counterWrapper .counterBox .counter {
  font-size: 1.8vmax;
  padding-bottom: 1vmax;
  color: #9c88ff;
  font-weight: 500;
}

.counterWrapper .counterBox h3 {
  font-weight: 400;
  font-size: 1.4vmax;
}

.offerWrapper {
  background: linear-gradient(-1.5deg, #292929 3%, rgba(0, 0, 0, 0) 3.1%);
  padding: 5% 25% 5% 25%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  grid-gap: 5vmax;
}

.offerWrapper .offerTitle {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  font-weight: 400;
  font-size: 1.7vmax;
}

.offerWrapper .offerTitle a {
  font-weight: bold;
}

.offerWrapper .offerBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offerWrapper .offerBox .offerBoxIcon {
  width: 5vmax;
  height: 5vmax;
}

.offerWrapper .offerBox .offerBoxIcon img {
  width: 100%;
  height: 100%;
}

.offerWrapper .offerBox .offerBoxTitle h3 {
  font-weight: 400;
  font-size: 1.1vmax;
  padding: 3vmax 5% 2vmax 5%;
  text-align: center;
}

.offerWrapper .offerBox .offerBoxBar {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background-color: #9c88ff;
}

.offerWrapper .offerMore {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1vmax 15% 1vmax 15%;
}

.offerWrapper .offerMore h2 {
  font-weight: 400;
  font-size: 2vmax;
  text-align: center;
}

.offerWrapper .offerButton {
  background-color: #9c88ff;
  width: 12vmax;
  height: 3vmax;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1vmax;
  color: white;
  font-weight: 500;
}

.reviewWrapper {
  width: 100%;
  background: linear-gradient(-2deg, #9c88ff 13%, rgba(0, 0, 0, 0) 13.2%);
  background-color: #292929;
  padding: 3% 0 7% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviewWrapper h1 {
  font-weight: 600;
  font-size: 2.2vmax;
  color: white;
  margin-bottom: 7%;
}

.reviewWrapper .reviewContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.reviewWrapper .reviewContainer .arrow {
  width: 3vmax;
  height: 3vmax;
  cursor: pointer;
}

.reviewWrapper .reviewContainer .arrow img {
  width: 100%;
  height: 100%;
}

.reviewWrapper .reviewContainer .a1 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 0;
}

.reviewWrapper .reviewContainer .reviewSection {
  width: 60%;
  overflow-x: hidden;
}

.reviewWrapper .reviewContainer .reviewSection .reviewContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.reviewWrapper .reviewContainer .reviewSection .reviewContent .reviewBox {
  min-width: 50%;
  padding: 2% 5% 5% 5%;
  text-align: center;
}

.reviewWrapper .reviewContainer .reviewSection .reviewContent .reviewBox p {
  font-size: 1vmax;
  color: white;
  font-weight: 400;
  margin-bottom: 2vmax;
}

.reviewWrapper .reviewContainer .reviewSection .reviewContent .reviewBox h2 {
  font-size: 1.6vmax;
  color: #9c88ff;
  font-weight: 400;
}

.reviewWrapper .reviewPos1 {
  -webkit-transform: none;
          transform: none;
  -webkit-transition: 0.7s linear;
  transition: 0.7s linear;
}

.reviewWrapper .reviewPos2 {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.7s linear;
  transition: 0.7s linear;
}

.reviewWrapper .reviewPos3 {
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  -webkit-transition: 0.7s linear;
  transition: 0.7s linear;
}

.reviewWrapper .reviewDots {
  width: 4%;
  height: 2vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.reviewWrapper .reviewDots .dot1,
.reviewWrapper .reviewDots .dot2,
.reviewWrapper .reviewDots .dot3 {
  width: 0.8vmax;
  height: 0.8vmax;
  border-radius: 50%;
  background-color: white;
}

.reviewWrapper .reviewDots .active {
  background-color: #9c88ff;
}

.contactWrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  padding: 5% 10% 5% 10%;
}

.contactWrapper h2 {
  font-size: 1.5vmax;
  font-weight: 400;
}

.contactWrapper p {
  font-size: 1vmax;
}

.contactWrapper .contactTitle {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  font-size: 2.8vmax;
  font-weight: 500;
}

.contactWrapper .contactTitle a {
  font-weight: 600;
}

.contactWrapper .contactAddres1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  padding: 1vmax;
}

.contactWrapper .contactAddres2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  padding: 1vmax;
}

.contactWrapper .contactPhone {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  padding: 2vmax 1vmax;
}

.contactWrapper .contactEmail {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  padding: 2vmax 1vmax;
}

.contactWrapper .contactSocials {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactWrapper .contactSocials .socialsContainer {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactWrapper .contactSocials .socialsContainer .social {
  width: 2.5vmax;
  height: 2.5vmax;
  background-color: whitesmoke;
  background-position: center;
  background-size: cover;
}

.contactWrapper .contactSocials .socialsContainer .Facebook {
  background-image: url(../assets/icons/facebook.png);
}

.contactWrapper .contactSocials .socialsContainer .Instagram {
  background-image: url(../assets/icons/instagram.png);
}

.contactWrapper .contactSocials .socialsContainer .Youtube {
  background-image: url(../assets/icons/youtube.png);
}

.footer {
  width: 100%;
  height: 3vmax;
  background-color: #9c88ff;
}
/*# sourceMappingURL=style.css.map */